<ion-view view-title="搜索报表">

  <ion-nav-buttons side="left">
    <div class="button button-clear" ng-click="goback()">
      返回
    </div>
  </ion-nav-buttons>

  <ion-content>

    <ion-list>

        <label class="item item-input" ng-repeat="condition in conditions">
          <span class="input-label">{{condition.mingcheng}}</span>
          <div ng-switch="condition.sjleixing">
              <input ng-switch-when="varchar(4000)" type="text" ng-model="condition.username" placeholder="{{condition.id}}">
          </div>

        </label>

    </ion-list>

  </ion-content>
  <div class="bar bar-footer bar-positive" ng-click="searchReport()">
    <button class="button button-clear title">搜索</button>
  </div>
</ion-view>