<ion-view view-title="搜索报表">

    <ion-nav-buttons side="left">
        <div class="button button-clear" ng-click="goback()">
            返回
        </div>
    </ion-nav-buttons>

    <ion-content>

        <ion-list>

            <label class="item item-input" ng-repeat="condition in conditions | orderBy: 'xuhao' ">
                <span class="input-label">{{condition.mingcheng}}</span>

                <div ng-if="condition.tjleixing == '区间'">

                    <div ng-switch="condition.sjleixing">
                        <div ng-switch-when="varchar(4000)">
                            <div class="row">
                                <input type="text" ng-model="condition.moren1" placeholder="{{condition.xuhao}}">
                                <input type="text" ng-model="condition.moren2" placeholder="{{condition.xuhao}}">
                            </div>
                        </div>

                        <div ng-switch-when="datetime">
                            <div class="row">
                                <ionic-datepicker input-obj="datepickerObject">
                                    <button class="button button-clear button-positive"> {{condition.moren1 | date:'yyyy/MM/dd'}}</button>
                                </ionic-datepicker>
                                <ionic-datepicker input-obj="datepickerObject">
                                    <button class="button button-clear button-positive"> {{condition.moren2 | date:'yyyy/MM/dd'}}</button>
                                </ionic-datepicker>
                            </div>
                        </div>
                    </div>
                </div>

                <div ng-if="condition.tjleixing != '区间'">

                    <div ng-switch="condition.sjleixing">
                        <div ng-switch-when="varchar(4000)">
                            <input type="text" ng-model="condition.moren1" placeholder="{{condition.xuhao}}" ng-click="openAutoComplete(condition)">
                        </div>
                        <div ng-switch-when="datetime">
                            <div class="row">
                                <ionic-datepicker input-obj="datepickerObject">
                                    <button class="button button-clear button-positive"> {{condition.moren1 | date:'yyyy/MM/dd'}}</button>
                                </ionic-datepicker>
                            </div>
                        </div>
                    </div>
                </div>
            </label>
        </ion-list>

    </ion-content>
    <div class="bar bar-footer bar-positive" ng-click="searchReport()">
        <button class="button button-clear title">搜索</button>
    </div>
</ion-view>