<ion-modal-view>
    <ion-header-bar>
        <div class="buttons">
            <button class="button button-clear" ng-click="closeAutoCompleteDialog()">关闭</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <ion-list>
            <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="option in options" type="item-text-wrap" ng-click="selectOptionContent(option)">
                {{option.mingcheng}}
                <i class="icon ion-chevron-right icon-accessory"></i>

                <ion-option-button class="button-calm" ng-click="">
                    查看
                </ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-modal-view>